
<div class="d-flex justify-content-center align-items-center h-100">
    <button class="btn btn-lg" (click)="open(content)">
            <app-start [data]="model.widgets[0]"></app-start>
    </button>
</div>
<ng-template #content let-modal>
        <div class="modal-header d-flex justify-content-between align-items-center p-2">
          <button type="button" class="btn text-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</button>
          <h5 class="modal-title" id="modal-basic-title" class="text-success m-0">{{model.widgets[0].name}}</h5>
          <button type="button"  class="btn text-success" (click)="modal.close('Save click')">Save</button>
        </div>
        <div class="modal-body p-0">
            <app-widget [data]="model.widgets[0]"></app-widget>
        </div>
</ng-template>

      