<div class="bg-white p-3">
        <form >
                <div  class="form-group" *ngFor="let item of data;  let i = index" [ngClass]="input_class_name">
                        <label for="name">{{item.label}}</label>
                        <input type="text" 
                                *ngIf="item.type !== 'currency'" 
                                class="form-control"
                                
                        [required] = "item.required"
                        [(ngModel)] = "data[i].value" 
                        name="{{i}}"
                        /> 
                        <input *ngIf="item.type === 'currency'" 
                                class="form-control"
                                type="text" 
                                [required] = "item.required"
                                [ngModel]="item.value | currency:item.symbol:true:'3.'+(item.precision||0)" 
                                name="{{i}}"
                                />
                </div>
        </form>
</div>